<div class="container margin--top-bottom-50 padding--20 bg--light">
  <div class="text-center h1 title">{{ title }}</div>
  <div class="container">
    <div class="row border--bottom-1 padding--bottom-10">
      <div class="col-4 bold">Name</div>
      <div class="col-4 bold">Size</div>
      <div class="col-4 bold">Price</div>
    </div>
    <div *ngFor="let product of products" class="row">
      <div class="col-4">{{ product.name }}</div>
      <div class="col-4">{{ product.size }} oz</div>
      <div class="col-4">${{ product.price.toFixed(2) }}</div>
    </div>
  </div>
</div>